:root{
  --primary-color: black;
  --secondary-color: whitesmoke;
  --trans: rgba(0, 0, 0, 0.69);
  --accent: aqua;
}

.light-theme{
  --primary-color: whitesmoke;
  --secondary-color: black;
  --trans: rgba(219, 219, 219, 0.69); 
  --accent: rgb(47, 73, 176);
}

#icon{
  color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.vv {
  position: fixed;
  z-index: -1;
}

#header {
  width: 100%;
  height: 100vh;
}

.trans-box {
  margin: 5px 10%;
  background-color: var(--trans);
  border-radius: 100px;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul {
  padding-left: 0;
  position: fixed;
  top: 10px;
  right: 170px;
  border-radius: 10px;
  z-index: 1;
}


nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--accent);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 40px;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -500px;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translate(85px);
  }

  to {
    opacity: 0;
    transform: translate(-300px, 0px);
  }
}

.header-text p {
  margin-bottom: 0;
  font-size: 65px;
  font-family: "Namdhinggo", serif;
  font-weight: 600;
  font-style: normal;
  color: var(--secondary-color);
}

.header-text h1 {
  font-size: 115px;
  margin-top: 0;
  font-family: "Namdhinggo", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: -60px;
  color: var(--secondary-color);
}

#bar {
  display: inline;
  visibility: hidden;
  padding: 15px;
  border-radius: 10px;
}

#linesbar {
  display: inline-block;
  position: absolute;
  top: 7px;
}

#linesbar span {
  width: 30px;
  height: 4px;
  background: var(--accent);
  display: block;
  margin-top: 4px;
}

#linesbar:hover {
  cursor: pointer;
  color: var(--accent);
}

#bar.active {
  visibility: visible;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

nav ul li i::before{
  position: relative;
  top: 5px;
  cursor: pointer;
}
/* ----------------About-------------- */

#about {
  padding-top: 30px;
  padding-bottom: 80px;
  color: var(--secondary-color);
  margin-top: 100px;
}

#about h1 {
  color: var(--accent);
  font-size: 80px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  padding-top: 80px;
}

.about-col-1 img {
  width: 450px;
  border-radius: 15px;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 700px;
}

@keyframes fade-in {
  from {
    scale: .4;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

.about-col-2 {
  flex-basis: 55%;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  animation: slideInLeft linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 700px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

.about-col-2 p {
  animation: slideInbottom linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 300px;
  color: var(--secondary-color);
}

@keyframes slideInbottom {
  from {
    transform: translateY(300px);
  }

  to {
    transform: translateY(0px);
  }
}

.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}

/* animation */
.tab-contents {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 300px;
  color: var(--secondary-color);
}

.tab-links {
  margin-right: 50px;
  font-weight: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--accent);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul {
  padding-left: 0;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--accent);
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}


/* Languages */

.lang-known {
  display: flex;
  justify-content: center;
}

.Languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.Languages p {
  color: var(--secondary-color);
}

.Languages h1 {
  color: var(--accent);
  font-size: 50px;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  margin-left: 100px;
}

.row1 p,
.row2 p,
.row3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding-right: 200px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}

.row1 p:last-child,
.row2 p:last-child,
.row3 p:last-child {
  border-right: none;
}

i {
  font-size: 2rem;
  margin-bottom: 8px;
  padding-right: 7px;
}

.lang {
  text-align: center;
  margin: 0 0 16px;
}


/* --------------------Resume----------------------- */

.reshead{
  text-align: center;
  color: var(--accent);
  font-size: 50px;
}

.resume {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--secondary-color);
}

.resume-col-1 {
  flex-basis: 43%;
  border-right-style: solid;
  border-width: 3px;
  border-color: var(--accent);
  padding: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.resume-col-2 {
  flex-basis: 45%;
  padding-top: 80px;
  padding: 30px;
  margin-bottom: 50px;
}

.resume h1{
  color: var(--accent);
  font-size: 40px;
  margin-bottom: 5px;
}

.resume h2{
  color: #ababab;
  font-size: 25px;
  padding-left: 20px;
  margin: 5px;
  margin-left: 0;
}

.resume p{
  font-size: 15px;
  padding-left: 40px;
  padding-right: 15px;
}

.resume ul{
  padding-left: 50px;
  margin-top: 0;
}

.resume li{
  font-size: 15px;
  padding-bottom: 4px;
}

.edu ul{
  list-style-type: none;
}

#me1{
  margin: 0;
}

#me2{
  margin-top: 0;
}

#me3{
  margin-top: 0;
}

.resbtndiv{
  padding-bottom: 15px;
}

.resbtn {
  display: block;
  margin: 30px auto;
  margin-top: 30px;
  width: fit-content;
  border: 1px solid #a6f3f3;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--primary-color);
  transition: background 0.5s;
  font-size: 15px;
  border-radius: 12px;
  background-color: var(--secondary-color);
}

.resbtn:hover {
  background: var(--accent);
}

/* -------------------------Skills-------------------- */

.bar-col1{
  padding: 30px;
  color: var(--secondary-color);
}

/* ------------------------Projects------------------- */

#portfolio h1 {
  color: var(--accent);
  font-size: 60px;
}

#portfolio {
  padding-top: 50px;
  padding-bottom: 70px;
  margin-top: 300px;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 700px;

}

.projectrow1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projectrow2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--accent));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--accent);
}

.layer a {
  margin-top: 10px;
  color: var(--accent);
  text-decoration: none;
  font-size: 18px;
  line-height: 72px;
  background: var(--secondary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-top: 0px;
}

.layer p {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--secondary-color);
  margin-bottom: 3px;
}

.work:hove img {
  transform: scale(1.5);
}

.work:hover .layer {
  height: 100%;
}










/* --------------------------Contact----------------------- */

#contact {
  margin-top: 300px;
  margin-bottom: 200px;
}

.trans-box2 {
  margin: 143px;
  background-color: var(--trans);
  border-radius: 100px;
}

.container1 {
  padding: 10px 5%;
}

.container1 h1 {
  font-size: 55px;
  color: var(--accent);
  margin-bottom: 80px;
}

.container1 p {
  color: var(--secondary-color);
  font-size: 15px;
}


.contact-left {
  flex-wrap: 35%;
}

.contact-right {
  flex-wrap: 35%;
  padding-top: 60px;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--accent);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--secondary-color);
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--accent);
  transform: translateY(-5px);
}

.btn {
  display: block;
  margin: 50px auto;
  margin-top: 30px;
  width: fit-content;
  border: 1px solid #a6f3f3;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--primary-color);
  transition: background 0.5s;
  font-size: 15px;
  border-radius: 12px;
  background-color: var(--secondary-color);
}

.btn:hover {
  background: var(--accent);
}

.contact-right form {
  width: 100%;
}

.hello {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--primary-color);
  padding: 15px;
  margin: 15px 0;
  color: var(--secondary-color);
  font-size: 18px;
  border-radius: 6px;
}

form btn {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
}



/* --------------------Source Code---------------------- */

.trans-box1 {
  margin: 0;
  background-color: var(--trans);
}

.src h1 {
  color: var(--accent);
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  margin: 0;
}

.vid {
  top: 0px;
  height: 100vh;
  margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #fff;
}

.vid video {
  height: 96%;
  width: 98%;
  object-fit: cover;
  opacity: 0.45;
}

.vid .vidtext {
  position: absolute;
  color: aliceblue;
  text-align: center;
}

.vidtext a {
  text-decoration: none;
}

.vidtext button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #a6f3f3;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: gray;
  transition: background 0.5s;
  border-radius: 12px;
  font-size: 20px;
}

button:hover {
  background: var(--accent);
}

.vidtext h1 {
  color: #fff;
  font-size: 65px;
}

.vidtext p {
  color: whitesmoke;
  font-size: 25px;
}

.vidtext p span {
  color: var(--accent);
}
